---
layout: 
---
!!! xml
feed(xmlns="http://www.w3.org/2005/Atom")
	title= site.title
	subtitle= site.description
	link(href="http://topcoat.io/atom.xml", rel="self")
	link(href=site.url)
	updated= site.date.toISOString()
	id #{site.url}/

	for document in getCollection('posts').toJSON()
		entry
			title= document.title
			link(href="#{site.url}#{document.url}")
			updated= document.date.toISOString()
			id #{site.url}#{document.url}
			content(type="html")= document.contentRenderedWithoutLayouts
			author
				name= authors[document.author].name
				uri= authors[document.author].url